@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

/* Resetando o CSS */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

.cabeçalho {
    background-image: linear-gradient(to top, #cff1f1 0%, #00403f 100%);
    height: 70px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabeçalho-texto {
    color: #fff;
    font-variant:small-caps;
    font-size: 35px;
    text-shadow: 2px 2px 4px #000;
}

body {
    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    background-position: right center;
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 150px;
}

.container div {
    width: 250px;
    height: 450px;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.caixa-1 {
    background-color: #e28525;
    color: #fff;
}

.caixa-2 {
    background-color: #016972;
    color: #fff;
}

.caixa-3 {
    background-color: #00403f;
    color: #fff;
}

.container button {
    border: none;
    background-color: #fff;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    font-size: 15px;
    box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.botão-1 {
    color: #e28525;
}

.botão-2 {
    color: #016972;
}

.botão-3 {
    color: #00403f;
}

.container button:hover {
    opacity: 0.3;
    cursor: pointer;
}

/* RODAPÉ */

footer {
    width: auto;
    height: 40px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-texto {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    font-variant: small-caps;
}

.footer-texto a {
    color: #7ac9e9;
    text-decoration: none;
    cursor:pointer;
}

.footer-texto a:hover {
    color: #0a4d99;
    text-decoration: none;
}